<h1><%= @job.title %> at <%= @job.company.name %></h1><br />

Category: <%= @job.category.title %>
<br>

Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>
<%= button_to "Edit Job", edit_company_job_path, method: "get" %>
<%= button_to "Delete Job", company_job_path, method: "delete" %><br />
<h3>Comments:</h3>
<%= render partial: 'companies/jobs/comment', collection: @job.comments.reverse %>
<%= render partial: 'comments/form' %>

Company: <%= link_to @job.company.name, company_path(@job.company) %><br />
<%= link_to "Back to Company Directory", companies_path %>
