<h3>All Companies</h3>

<% @companies.each do |company| %>
  <div class=company_<%= company.id %>>
    <strong><%= link_to company.name, company_path(company) %></strong><br>
    <%= button_to "Edit", edit_company_path(company), method: "get" %>
    <%= button_to "Delete", company_path(company), method: "delete" %>
  </div>
<% end %><br>

<%= link_to "Add a Company", new_company_path %>
